.employeetable .col {
    cursor: pointer;
    background-color:rgb(189, 179, 44);
    color: white;
}
.employeetable .col .pointer:after {
    font-size: 80%;
    content: "";
    margin-right: 18px;
}
.employeetable .col .pointer:hover:after {
    font-size: 80%;
    content: "🔻";
    margin-right: 0;
}